body {
    font-family: "微软雅黑";
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

em,
i {
    font-style: normal;
}

div {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    cursor: default;
}

li {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}


/* 导航开始 */

.nav {
    height: 100px;
    /* background-color: red; */
}

.nav-left {
    width: 24.7%;
    height: 100%;
    position: relative;
    float: left;
    clear: left;
    /* background-color: rosybrown; */
}

.nav-img {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-right: 0px;
    width: 270px;
}


/* .nav-a {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
} */

.nav-a img {
    width: 100%;
    height: 100%;
}

.nav-right {
    width: 75.3%;
    float: left;
    height: 100%;
}

.nav-right-title {
    margin-right: 4%;
    height: 100%;
    padding-left: 5% !important;
}

.nav-title-write {
    width: 797px;
    height: 100%;
    float: right;
}

.nav-write {
    width: 99.6px;
    line-height: 100px;
    text-align: center;
    float: left;
    font-size: 16px;
    transition: all .4s ease;
}

.nav-write:hover {
    background-color: #3b78d4;
}

.nav-write:hover a {
    color: white;
}


/* 导航结束 */


/* banner开始 */

.banner {
    margin-top: 1px;
    width: 100%;
    height: 316.5px;
    background-image: url(../img/produect-banner-img.jpg);
    background-position: center bottom;
    overflow: hidden;
}


/* banner结束 */


/* banner1开始 */

.banner1 {
    position: relative;
    width: 100%;
    height: 110.5px;
    /* float: left; */
    /* background-color: yellow; */
}

.banner1-box {
    width: 100%;
    height: 80px;
    float: left;
    margin-bottom: 2%;
}

.banner1-box1 {
    float: left;
    /* padding: 1px; */
    /* width: 24.91%; */
    width: calc(25% - 1px);
    height: 80px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.banner1-box1:hover {
    background-color: #3b78d4;
}

.banner1-box1:hover a {
    color: #fff;
}

.banner1-box1 a {
    font-size: 16px;
    line-height: 80px;
}


/* banner1结束 */


/* banner2开始 */

.banner2 {
    width: 98%;
    margin-left: 1%;
    margin-top: 100px;
    height: 1000px;
    /* background-color: royalblue; */
    position: relative;
}

.banner2-left {
    position: relative;
    width: 650px;
    height: 710px;
    float: left;
}

.banner2-mid {
    position: relative;
    float: left;
    /* background-color: red; */
    width: 600px;
    height: 540px;
}

.banner2-btn {
    position: relative;
    float: left;
    width: 560px;
    /* background-color: salmon; */
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
}

.banner2-s-1 {
    width: calc(96% /2);
    margin-right: 2%;
    float: left;
    /* background-color: teal; */
    height: 100px;
}

.banner2-big {
    position: absolute;
    left: 600px;
    /* background-color: teal; */
    /* display: none; */
    top: 0;
    overflow: hidden;
    z-index: 20;
    width: 300px;
    height: 270px;
}

.banner2-right {}


/* banner2 结束 */